.buttonsContainer {
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    margin: 50px 0 50px 162px;
    align-items: center;
}

.imageContainer {

}

.image {
}

.textContainer {
    margin-left: 90px;
    font-weight: 500;
    font-size: 16px;
    max-width: 510px;
}

.code {
    font-size: 30px;
    margin-bottom: 12px;
}

.text {

}

.info {
}