*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.friendMessage {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid red;
    margin-bottom: 30px;


}

.friendImageAndText {
    display: flex;
    align-items: end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-bottom: 5px;
}

.friendText {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 77px;
    padding: 10px 0;

}

.friendText:after {
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 4px;
    left: -20px;
    bottom: 0;
    right: 0;
    mask-image: url('../../../assets/img/messageRectangle.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: top;
    transform: rotateY(180deg);
    background-color:  #f5f7fb;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.friendName {
    margin-left: 27px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.friendMessageText {
    margin-left: 27px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.friendTime {
    margin-left: 10px;
    font-weight: 600;
    font-size: 10px;
    color: #000;
}
